nelmio_api_doc:
    documentation:
        info:
            title: jorge07/symfony-5-es-cqrs-boilerplate
            description: Symfony 4 DDD ES CQRS backend boilerplate
            version: 1.0.0
        securityDefinitions:
            Bearer:
                type: apiKey
                description: 'Value: Bearer {jwt}'
                name: Authorization
                in: header
        security:
            - Bearer: []
    areas: # to filter documented areas
        path_patterns:
            - ^/api(?!/doc$) # Accepts routes under /api except /api/doc
