###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/
.deptrac.cache

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

/report/
build/

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
/.phpunit.result.cache
###< friendsofphp/php-cs-fixer ###