<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hey!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        {% endblock %}
    </head>
    <body>
        {% include 'components/header/menu.html.twig' only %}
        <br>
        <section class="section">
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}{% endblock %}
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
              $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                  const $target = document.getElementById($el.dataset.target);
                  $el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');
                });
              });
            }
          });
        </script>
    </body>
</html>
