{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            {% if error is defined %}
                <div class="notification is-danger">{{ error }}</div>
            {% endif %}
            <form name="signUp" action="/sign-up" method="post">
                <div class="field">
                    <label for="email">Email</label>
                    <div class="control">
                        <input class="input" name="email" type="email" placeholder="asd@as.as" id="email">
                    </div>
                </div>
                <div class="control">
                    <input class="button is-link" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
