{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h2>Hello {{ email }}</h2>
            <i>Your id is {{ uuid }}</i>
        </div>
    </div>
</div>
{% endblock body %}
