{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="column-50 column-offset-25">
            <h2>Hello {{ email }}</h2>
            <i>Your id is {{ uuid }}</i>
        </div>
    </div>
</div>
{% endblock body %}
