{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            <h2>Hi </h2> {{ app.user.username }}
        </div>
    </div>
</div>
{% endblock body %}
