{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="field">
                        <label for="username">Username:</label>
                        <div class="control">
                            <input class="input" type="text" id="username" name="_email" value="{{ last_username }}" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <div class="control">
                            <input class="input" type="password" id="password" name="_password" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-link" type="submit">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
